{% extends "layouts/base.html" %}

{% block meta %}
<link rel="stylesheet" href="/static/css/info-pages.css" type="text/css">
<title>{{ title }}</title>
{% endblock %}



{% block content %}

<header>
    <span><a href="/" class="internal-link">Back to home</a></span>
</header>

<section id="top">
    <img src="{{ image }}">
    <h1>{{ title }}</h1>
</section>

<section>
    {% block text %}{% endblock %}
    <a href="#top">Back to top</a>
</section>

<script>
$(document).ready(function () {
    $('.internal-link').click(function() {
        event.preventDefault();
        newLocation = this.href;
        $('body').fadeOut(500, newpage);
    });
    function newpage() {
        window.location = newLocation;
    }
});

</script>

{% endblock %}