@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     font-family: 'Open Sans', sans-serif;
// }

section {
    font-family: 'Open Sans', sans-serif;
    padding: 3em;
    height: 100vh;
    position: relative;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding-right: 1em;
    padding-left: 1em;
    height: 14vh;
    position: relative;
    background-color: #f8f8f8;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contact-info . socials";
    align-items: center;
    
    .contact-info {
        grid-area: contact-info;
        font-size: 1em;
    }

    .socials {
        grid-area: socials;
        font-size: 4em;
        text-align: center;

        .fa {
            width: 1em;
            text-align: center;
            text-decoration: none;
            
            transform: scale(100%);
            transition: all 0.25s;
        }

        .fa:hover {
            transform: scale(120%)
        }

        .fa-github {
            color: black;
            margin-right: 1em;
            border-radius: 0.2em;
        }

        .fa-instagram {
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
            color: white;
            border-radius: 0.2em;
        }
    }
}