@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Open+Sans:wght@300&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes imageTransitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

// body {
//     opacity: 0;
//     animation-name: transitionIn;
//     animation-duration: 1s;
//     animation-fill-mode: both;
// }

header {
    opacity: 0;
    animation-name: transitionIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    padding: 1em;
    height: 8vh;
    width: 100%;
    position: relative;
    background-color: #f8f8f8;

    display: grid;
    align-items: center;

    font-family: 'Source Sans Pro', sans-serif;

    a, a:link, a:visited, a:active {
        color: black;
        text-decoration: none;
    }
}

section:nth-of-type(1) {
    opacity: 0;
    animation-name: transitionIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    
    overflow: hidden;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    color: #666666;
    display: grid;
    align-items: center;
    text-align: center;


    img {
        animation-name: imageTransitionIn;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

    h1 {
        position: relative;
        font-size: 5em;
    }
}

section:nth-of-type(2) {
    opacity: 0;
    animation-name: transitionIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    height: auto;

    p {
        font-size: 1.25em;
        text-align: left;
    }
    h2 {
        font-size: 2em;
        text-align: center;
    }
    a, a:link, a:visited, a:active {
        font-size: 1.25em;
        color: black;
        text-decoration: underline;
    }
    img {
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .caption {
        margin-top: -0.5em;
        font-size: 0.75em;
        text-align: center;
    }
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}