@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Open+Sans:wght@300&family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes imageTransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes imageTransitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

header {
  opacity: 0;
  -webkit-animation-name: transitionIn;
          animation-name: transitionIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  padding: 1em;
  height: 8vh;
  width: 100%;
  position: relative;
  background-color: #f8f8f8;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

header a, header a:link, header a:visited, header a:active {
  color: black;
  text-decoration: none;
}

section:nth-of-type(1) {
  opacity: 0;
  -webkit-animation-name: transitionIn;
          animation-name: transitionIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section:nth-of-type(1) img {
  -webkit-animation-name: imageTransitionIn !important;
          animation-name: imageTransitionIn !important;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

section:nth-of-type(1) h1 {
  position: relative;
  font-size: 5em;
}

section:nth-of-type(2) {
  opacity: 0;
  -webkit-animation-name: transitionIn;
          animation-name: transitionIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  height: auto;
}

section:nth-of-type(2) p {
  font-size: 1.25em;
  text-align: left;
}

section:nth-of-type(2) h2 {
  font-size: 2em;
  text-align: center;
}

section:nth-of-type(2) a, section:nth-of-type(2) a:link, section:nth-of-type(2) a:visited, section:nth-of-type(2) a:active {
  font-size: 1.25em;
  color: black;
  text-decoration: underline;
}

section:nth-of-type(2) img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

section:nth-of-type(2) .caption {
  margin-top: -0.5em;
  font-size: 0.75em;
  text-align: center;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}
/*# sourceMappingURL=info-pages.css.map */