{% extends "layouts/info-pages.html" %}

{% block text %}
<h2>Goals</h2>
<p>
    One of the things my coach asked me to do was to make the site flow better and look more appealing visually. The current site had an outdated look, and one of my main goals was to update and modernize the look.
</p>

<h2>Learning Process</h2>
<p>
    The first thing I did to learn CSS was to watch video tutorials. Though the video tutorials were focused on <a href="/scrollmagic" style="font-size: 1em" class="internal-link">ScrollMagic</a>, I learned about the formatting of CSS files through watching the way the videos formatted theirs. One of the biggest things that helped me practice and work with CSS was making this site itself. I used things like CSS grid and dynamic sizing units like vh/em to make the site look good on all devices.
</p>

<!-- <img src="/static/images/scrollmagic.png" style="width: 50%">
<h4 class="caption">Takane Enomoto playing a game with Shuuya Kano (Mekakucity Actors)</h4> -->

<h2>Development Process</h2>
<p>
    After practicing CSS by creating this website, I implemented the things I’d learned into the golf website. For instance, the page transitions on the golf website were created using similar code to the transitions on this website. Though some concepts were not used as much because of Wordpress’s easy-to-use theme system, practicing with CSS definitely helped speed up the process.
</p>
    
<p>
    A bigger part of the website was figuring out how to redesign it. As stated before, it had a very outdated look. I used the tutorials I’d watched as examples on how to make websites look “modern”; namely, having a lighter background, big, sleek text, and not overloading the page with images or obnoxious background elements. Another part of making sites look modern was to implement animations, thus leading to the page transitions and animations on the instructors page.
</p>

<h2>Conclusion</h2>
<p>
    Overall, I think I did a good job with redesigning the site. My coach said that it looks and flows a lot better. You can see the live site for yourself here (link here)!
</p>


{% endblock %}