{% extends "layouts/info-pages.html" %}

{% block text %}
<h2>Goals</h2>
<p>
    When I was meeting with my coach to discuss what he and his fiance wanted to implement on the website, his fiance expressed a desire to add scrolling animations to the site. I remember my friend Nathaniel Cherian talking about a JavaScript library called ScrollMagic that he’d used to add such animations to his website, so I began searching out tutorials on ScrollMagic to figure out how it worked.
</p>

<h2>Learning Process</h2>
<p>
    The way I learned how to use the ScrollMagic (and GSAP) library was through step-by-step YouTube tutorials. I watched the videos and followed along on repl.it which helped me to understand how the libraries worked in tandem with each other. ScrollMagic is a library that allows developers to activate functions when a user scrolls to a certain point in the webpage, and GSAP is an animation library that allows developers to easily animate elements of their site. Using them together lets animations play while you scroll through the page.
</p>

<img src="/static/images/tutorial-page.PNG" style="width: 50%">
<h4 class="caption">A picture of my repl.it site that I made while watching a ScrollMagic tutorial.</h4>

<p>
    Another way I learned how to use ScrollMagic was by creating this website. As you might’ve noticed, the text on the last page only shows up when you scroll down past the gradient. However, I made it so that the animation doesn’t always play when you go to the previous page because I felt that it would get a little annoying.
</p>

<!-- <img src="/static/images/scrollmagic.png" style="width: 50%">
<h4 class="caption">Takane Enomoto playing a game with Shuuya Kano (Mekakucity Actors)</h4> -->

<h2>Development Process</h2>
<p>
    Before implementing scrolling animations to the live websites, I started off by creating a <a href="https://scroll-magic-testing.anthonyvo1.repl.co" style="font-size: 1em" target="_blank">demo</a> which I sent to my coach for approval. Afterwards, I put the scrolling animations into the site under the Instructors tab. This part didn’t take a long time because I had put in the work beforehand and understood how the libraries worked.
</p>

<h2>Conclusion</h2>
<p>
    I’m happy with how this requirement turned out. You can check out the animations on the <a href="https://sdjuniorclub.com/instructors" style="font-size: 1em" target="_blank">live site here!</a>
</p>


{% endblock %}